/* CUSTOM FEBB INPUTS */
.input__div {
  height: 35px;
  width: 100%;
  margin: 20px 0px;
  position: relative;
}

.input__div.pw {
  margin-bottom: 0;
}

.input__div.pw a {
  font-size: 12px;
  color: bisque;
}

.input__div input {
  width: 100%;
  outline: none;
  font-size: 18px;
  padding: 10px 5px 0px 15px;
  border: none;
  border-bottom: 1px solid white;
  background-color: #0361df;
  transition: all 0.3s ease;
  color: antiquewhite;
}

.input__div input:focus {
  border-color: black;
}

.input__div label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.input__div input:focus ~ label,
.input__div input:valid ~ label {
  top: 0%;
  font-size: 12px;
  font-weight: bold;
  color: black;
  transform: translateY(-50%);
}

/* FIN DE CUSTOM FEBB INPUTS */

/* ----- MY CUSTOM LOADING SPINNER  */

.myspinner-container {
  /* display: flex; */
  margin: 0 auto;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  top: 200px;
  display: none;
  z-index: 999;
}

.myspinner-sector {
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 15px solid transparent;
  border-top: 15px solid green;
  mix-blend-mode: overlay;
}

.myspinner-text {
  font-size: 1.5em;
  text-align: center;
}

.myspinner-text::before {
  color: darkred;
  font-weight: 800;
  content: attr(data-spintext);
}

.myspinner-sector-blue {
  animation: myRotate 1s ease-out infinite;
  border-top: 15px solid #2d972e;
}

.myspinner-sector-red {
  animation: myRotate 1.5s ease-in infinite;
  border-top: 15px solid #ffa705;
}

.myspinner-sector-green {
  animation: myRotate 0.5s ease-in-out infinite;
  border-top: 15px solid #9132bd;
}

@keyframes myRotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes myLoading {
  0%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.1;
  }
}

/* ----- END OF MY CUSTOM LOADING SPINNER  */

/*==========================
  MY CUSTOM TOOLTIPS 
============================*/
.t-tip {
  position: relative;
}
.t-tip:before {
  position: absolute;
  z-index: 99;
  display: none;
  padding: 0.3rem;
  font-size: 12px;
  min-width: 120px;
  max-width: 100%;
  border-radius: 0.3rem;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.9;
  color: white;
  content: attr(tip);
  text-align: center;
}
.t-tip:after {
  position: absolute;
  z-index: 1;
  display: none;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  content: '';
}
.t-tip:hover:before,
.t-tip:hover:after {
  display: inline-block;
}

.t-tip.top:before {
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
}
.t-tip.top:after {
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  border-bottom-width: 0;
  border-top-color: rgba(0, 0, 0, 0.8);
}

.t-tip.bottom:before {
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
}
.t-tip.bottom:after {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-top-width: 0;
  border-bottom-color: rgba(0, 0, 0, 0.8);
}

.t-tip.left:before {
  top: 50%;
  right: calc(100% + 10px);
  transform: translateY(-50%);
}
.t-tip.left:after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translateY(-50%);
  border-right-width: 0;
  border-left-color: rgba(0, 0, 0, 0.8);
}

/*left para mover el cuadro de contenido */
.t-tip.right:before {
  top: 50%;
  left: calc(100% + 10px);
  transform: translateY(-50%);
}
/*left para mover la flecha */
.t-tip.right:after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translateY(-50%);
  border-left-width: 0;
  border-right-color: rgba(0, 0, 0, 0.8);
}

/*==========================
  FIN DE MY CUSTOM TOOLTIPS 
============================*/
