@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  outline: none;
  font-size: 14px;
  color: #666;
  text-decoration: none;
}

div {
  margin-bottom: 3px;
  position: relative;
}

.historia-container {
  width: 65%;
  margin: 10px auto;
  box-shadow: 0 0 5px 0 #047e91;
  border-radius: 5px;
}

.historia-container > form {
  background: #fff;
  padding: 10px 15px;
  position: relative;
}

.historia-container button {
  width: 200px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background: #047e91;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.banner {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 999999;
  border-radius: 5px 5px 0px 0px;
  background-color: #00b8d4;
}

h1 {
  font-size: 32px;
  color: #fff;
  margin: 10px;
}

h1.blue {
  color: #265a6e;
}

h5 {
  width: fit-content;
  color: #265a6e;
  font-size: 2rem;
  font-weight: 700;
  margin: 10px auto;
}

button.volver {
  width: 60px;
  height: 100%;
  position: absolute;
  left: 0px;
  z-index: 9999;
}

button.volver:hover {
  background: #069ab1;
  text-decoration: underline;
}

.selector-conceptos {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0px;
  background-color: orange;
  border-radius: 0px;
  border: 1px solid black;
  color: black;
  padding: 0 0 0 10px;
  margin: 0;
}

option {
  background-color: #fff;
  color: #095484;
}

#btn-registrar-paciente:hover {
  background: #28bbac;
}

/*  input customs   */

.checkbox-item label {
  margin: 5px 15px 10px 0;
}

.inputs-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.questions-collection {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.justificar {
  justify-content: stretch;
}

.input-container {
  position: relative;
  margin: 0 0 5px 0;
  min-width: 203px;
}

.input-container.large {
  min-width: 50%;
}

.input-container.pagos {
  width: 150px;
  min-width: 150px;
}

.input {
  width: calc(100% - 40px);
  outline: none;
  border: 1px solid rgb(6, 173, 173);
  background-color: rgb(218, 216, 216);
  padding: 0.6rem 1.2rem;
  color: orangered;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 10px;
  transition: 0.3s;
  margin-bottom: 5px;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
  background-color: rgb(218, 216, 216);
}

.input-container label {
  position: absolute;
  top: 45%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #666;
  pointer-events: none;
  z-index: 999;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
  margin-left: 0 !important;
}

.input-container span:before,
.input-container span:after {
  content: '';
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 20px;
  font-size: 0.9rem;
  color: rgb(6, 94, 94);
  font-weight: bold;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.input-container label.label-fnac {
  top: 20%;
  /*transform: translateX(125%);*/
  font-size: 10px;
  left: 10px;
}

.input-container.focus span.span-fnac {
  opacity: 0;
}

/*simulacion del evento focus con una clase para editar datos en los inputs    */

.input-container.edit-focus label {
  top: 0;
  transform: translateY(-50%);
  left: 20px;
  font-size: 0.9rem;
  color: rgb(6, 94, 94);
  font-weight: bold;
}

.input-container.edit-focus span:before,
.input-container.edit-focus span:after {
  width: 50%;
  opacity: 1;
}

.input-container.edit-focus span.span-fnac {
  opacity: 0;
}

/*fin de simulacion del evento focus */

/* fin de input custom */

p {
  display: inline-block;
  margin: 0 5px 7px 0;
  font-weight: bold;
  color: #265a6e;
}

.margin-span {
  margin-left: 22px;
}

label.check.no-margin {
  margin: 7px 0px;
}

p.no-margin {
  margin: 0;
}

.flexor {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.input.myWidth {
  width: 140px;
  height: 25px;
  padding: 2px 10px;
}

h6 {
  display: inline-block;
  padding: 0 10px 0 0;
  color: #265a6e;
  font-size: 1.3rem;
  font-weight: 700;
}

.question .question-answer span:hover {
  color: orangered;
}

.btn-block {
  margin-top: 10px;
  text-align: center;
}

.fechacontrolasistencia {
  padding-top: 5px;
  border: none;
  font-size: 20px;
  color: #265a6e;
}

/* reingenieria hasta aqui */

select {
  width: 200px;
  padding: 5px 0;
  border-radius: 5px;
  border: 1px solid rgb(6, 173, 173);
  margin: 0 5px 20px 0;
  background-color: rgb(218, 216, 216);
}

textarea {
  width: calc(100% - 32px);
  padding: 5px 20px 5px 10px;
  position: relative;
  background-color: rgb(218, 216, 216);
}

input:hover,
select:hover,
textarea:hover {
  border: 1px solid orangered;
}

input.fechacontrolasistencia:hover {
  font-weight: bold;
  color: orangered;
  border: none;
}

input[type='radio'],
input[type='checkbox'] {
  display: none;
}

label.radio,
label.check {
  position: relative;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

label.radio:before,
label.check:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 1px;
}

label.radio:before {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid #266992;
}

label.check:before {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #095484;
}

input[type='checkbox']:checked + .check:before {
  background: orangered;
}

label.radio:after {
  left: 5px;
  border: 3px solid orangered;
}

label.check:after {
  left: 4px;
  border: 3px solid #fff;
}

label.radio:after,
label.check:after {
  content: '';
  position: absolute;
  top: 2px;
  width: 8px;
  height: 4px;
  background: transparent;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  opacity: 0;
}

label.radio > span,
label.check > span {
  margin-left: 22px;
}

input[type='radio']:checked + label:after,
input[type='checkbox']:checked + label:after {
  opacity: 1;
}

/*SLIDER de Control de Asistencias  */

.img-slider {
  position: relative;
  width: 760px;
  height: 100vh;
  margin: 10px;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 1.5s;
  transition-property: clip-path;
}

.img-slider .slide .info {
  position: absolute;
  padding: 0px 30px 10px 30px;
  border: 1px teal solid;
  width: 100%;
}

.img-slider .slide .info h1 {
  color: black;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.img-slider .slide .info p {
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%) translateY(-20px);
}

.img-slider .navigation .btn {
  background: black;
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: all;
}

.img-slider .navigation .btn.active {
  background: #116eb6;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/*FIN DEL SLIDER de Control de Asistencias  */

/********* MEDIA QUERIES **********************/

@media (max-width: 760px) {
  .input-container,
  .input-container.pagos,
  select:not(.selector-conceptos) {
    min-width: 100%;
  }

  .historia-container {
    width: 90%;
  }

  h1 {
    font-size: 20px;
  }

  .input-container label.label-fnac {
    top: 0;
    left: 0;
    transform: translateX(14px);
  }

  label.check.head {
    width: 315px;
  }

  label.check.head > span {
    width: 100%;
  }

  label.radio,
  label.check {
    margin: 5px 5px 10px 0;
  }

  /* MEDIA QUERIES DEL SLIDER CONTROL DE ASISTENCIAS*/
  .img-slider {
    width: 100%;
    height: 100vh;
  }

  .img-slider .slide {
    height: auto;
  }

  .img-slider .slide .info {
    padding: 0;
    position: static;
  }

  .img-slider .slide .info h2 {
    font-size: 25px;
  }

  .img-slider .slide .info p {
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation {
    bottom: 10px;
  }

  .img-slider .navigation {
    top: 50px;
  }
}

/*FIN MEDIA QUERIES FEBB */
