body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.canvas-container {
  width: 530px;
  height: 425px;
  position: relative;
  left: 350px;
}

canvas#canvas {
  left: 0px;
  cursor: crosshair;
}

#div-figuras > button > img {
  pointer-events: none;
}

.titulo-odograma {
  width: 100%;
  text-align: center;
}

.guardar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

button {
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(133, 129, 129);
  pointer-events: all;
  cursor: pointer;
}

#btn-cerrar {
  background-color: rgba(0, 255, 255, 0.822);
  font-weight: bolder;
  font-size: 20px;
  pointer-events: all;
  cursor: pointer;
  color: rgb(51, 51, 53);
  padding: 15px;
}

div#sidebar {
  position: absolute;
  width: 310px;
  min-height: 410px;
  left: 10px;
  padding: 10px;
  top: 60px;
  background-color: rgb(184, 179, 179);
  border: 1px solid rgb(122, 121, 121);
}

.colorButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-color {
  width: 25px;
  height: 20px;
  margin: 2px;
  border: none;
  outline: none;
  cursor: pointer;
}

#btncolor-blanco {
  background-color: #ffffff;
}

#btncolor-negro {
  background-color: #030303bd;
}
#btncolor-azul {
  background-color: #0000ff;
}
#btncolor-naranja {
  background-color: #e68106;
}
#btncolor-rojo {
  background-color: #ff0000;
}
#btncolor-verde {
  background-color: #008800;
}

label {
  font-weight: bolder;
}

#color-actual {
  border: 1px solid rgba(0, 0, 0, 0.63);
  border-radius: 5px;
  width: 80px;
  pointer-events: none;
  color: #fff;
  font-size: 12px;
}

#div-figuras {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.td-btn {
  width: 45px;
  height: 40px;
  margin: 3px;
  color: #0000ff;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

.td-btn.activo {
  border: 4px ridge orange;
}

input {
  width: 50%;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 10px;
}

.toolsButtons .btn,
#equis,
#linea {
  width: 48%;
}

a#saveToImage {
  border-radius: 5px;
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
  background-color: rgba(0, 255, 255, 0.822);
  font-weight: bold;
  color: rgb(51, 51, 53);
  text-decoration: none;
}

a:hover {
  color: orangered;
}

#progress {
  position: relative;
  top: 70px;
  left: 40px;
  font-size: 20px;
  font-weight: 800;
}

#myH3 {
  display: none;
}

#img-hipersense {
  height: 30px;
}

#img-puentefijo {
  width: 31px;
}

#img-removible {
  position: relative;
  left: -4px;
}
#img-rotacion {
  height: 31px;
}

/* ----- MY CUSTOM LOADING SPINNER  */

.myspinner-container {
  /* display: flex; */
  margin: 0 auto;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  top: 100px;
  display: none;
  z-index: 999;
}

.myspinner-sector {
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 15px solid transparent;
  border-top: 15px solid green;
  mix-blend-mode: overlay;
}

.myspinner-text {
  font-size: 1em;
  text-align: center;
}

.myspinner-text::before {
  color: darkred;
  font-weight: 800;
  content: attr(data-spintext);
}

.myspinner-sector-blue {
  animation: myRotate 1s ease-out infinite;
  border-top: 15px solid lightseagreen;
}

.myspinner-sector-red {
  animation: myRotate 1.5s ease-in infinite;
  border-top: 15px solid lightcoral;
}

.myspinner-sector-green {
  animation: myRotate 0.5s ease-in-out infinite;
  border-top: 15px solid lightgreen;
}

@keyframes myRotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes myLoading {
  0%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.1;
  }
}

/* ----- END OF MY CUSTOM LOADING SPINNER  */

/* tooltip for buttons */

.td-btn::before,
.td-btn::after {
  --scale: 0;
  --tooltip-color: #333;
  --arrow-size: 10px;
  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
}

.td-btn::before {
  --translate-y: calc(-100% - var(--arrow-size));
  content: attr(data-tip);
  background: #333;
  color: white;
  padding: 0.5rem;
  min-width: 110px;
  max-width: 100%;
  border-radius: 0.3rem;
  text-align: center;
  z-index: 99;
}

.td-btn:hover::before,
.td-btn:hover::after {
  --scale: 1;
}

.td-btn::after {
  --translate-y: calc(-1 * var(--arrow-size));
  content: '';
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}

/* fin de tooltip for buttons */

/*MEDIA QUERIES FEBB */
@media screen and (max-width: 600px) {
  .canvas-container {
    width: 360px;
    overflow-x: scroll;
    left: 0;
  }
  .titulo-odograma > h2 {
    font-size: 12px;
  }

  div#sidebar {
    width: 328px;
    min-height: 240px;
    top: 465px;
    left: 0;
  }

  .td-btn {
    width: 40px;
    height: 37px;
    margin: 2px;
  }

  .btn-color {
    width: 18px;
  }

  h3 {
    display: none;
  }

  #div-figuras {
    justify-content: space-between;
  }

  canvas#canvas {
    left: 5px;
    top: 5px;
  }

  #progress {
    top: 35px;
    left: 20px;
    font-size: 12px;
    font-weight: 600;
  }

  a#saveToImage {
    padding: 5px;
    font-size: 14px;
  }
  hr {
    margin: 5px 0;
  }

  h2 {
    margin: 3px 0;
  }
  #btn-cerrar {
    font-size: 14px;
    padding: 5px;
  }
}
/*FIN DEL MEDIA QUERIES FEBB */
